    /* Modal Structure */

    html,
    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .container{
     width:500px;
     height: 200px;
     border: solid 1px red;

  }

  .flex-modal{
     border-bottom: solid 2px black;
     display: flex;
     /* justify-content: space-between;
     align-items: baseline; */
     justify-content: space-around;
     align-items: center;
     background-color:#50ca78;  #00a86b;
  }

  form{
    margin-bottom: 0;
  }
  img{

  }
